@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro:400,700&display=swap');


#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: rgb(1,120,131);
  background: linear-gradient(180deg, rgba(1,120,131,1) 0%, rgba(49,203,217,1) 28%, rgba(245,245,245,1) 28%, rgba(245,245,245,1) 28%);
}

#movie-directory{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  width: 100%;
}

#movie-directory h1{
  color: rgb(243, 243, 243);
  font-size: 45px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 80px;
  padding-top: 20px;
}

header h3{
  color: rgb(255, 208, 0);
  margin-top: -20px;
  font-size: 15px;
}

nav{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(102, 82, 63);
  text-align: right;
}

a{
  text-decoration: none;
  color: white;
}

header {
  width: 80%;
  height: 18%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.movie-list{
  width: 80%;
  height: 50%;
  overflow-y: scroll;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f5f5f5;
  table-layout: fixed;
  border-spacing: 0;
}

td, th {
  text-align: left;
  width: 210px;
}

td {
  padding: 14px 0px;
  border: 1px dashed #dddddd;
  border-right: none;
  border-left: none;
  border-top: none;
}

tbody tr{
  display: block;
  overflow: auto;
  width: 100%;
}

tbody tr:first-child {
  margin-top: 50px;
}

th{
  border-top: none;
  padding: 10px;
  border-left: none;
  padding-left: 60px;
  font-size: 20px;
  border-bottom: 1px solid #dddddd;

}

th:first-child {
  width: 600px;
}

th:nth-child(2){
  padding-left: 110px;
  width: 600px;
 
}

th:nth-child(3){
  padding-left: 50px;
  width: 500px;
}

thead tr{
  display: block;
  position: absolute;
  background-color: #f5f5f5;
  color: rgb(12, 143, 148);
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  z-index: 999999999999;
}

td:last-child {
  border: none;
  background-color: hsla(89, 43%, 51%, 0)
}

td:nth-child(3) {
  border-right: none;
}

td:first-child  a{
  color: rgb(10, 151, 161);
  font-weight: bold;
  text-decoration: underline;
}

td:first-child {
  border-left: none;
  width: 36.5%;
  padding-left: 60px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-all;
}

td:nth-child(2) {
  text-align: left;
  width: 29%;
  padding-left: 25px;
  color: #414141;
}

td:nth-child(3) {
  text-align: left;
  width: 20%;
  padding-left: 25px;
  color: #414141;
}

td:last-child {
  padding-left: 30px;
}

button {
  border: none;
  background-color: hsla(89, 43%, 51%, 0)
}

.options-button:hover{
  cursor: pointer;
}

svg:hover, li:hover, ul:hover{
  cursor: default;
}

li {
  margin-left: -10px;
}

.nav-icon, .options-icon {
  position: relative;
  top: 3px;

}

.options-icon.two {
  top: 0px;
}

.search-box{
  height: 5%;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -20px;
}

.search {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.search input {
  width: 80%;
  padding: 13px 13px;
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.3);
  border: none;
}

.search-icon{
  position: relative;
  top: 2px;
  right: 40px;
}