@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro:400,700&display=swap');


#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f5f5f5;
}

#movie-directory{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  width: 100%;
}

#movie-directory h1{
  color: rgb(10, 151, 161);
  font-size: 90px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 80px;
  padding-top: 20px;
}

#movie-directory h4{
  color: orangered;
  margin-top: 0px;
}

nav{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(102, 82, 63);
  text-align: right;
}

a{
  text-decoration: none;
}

header {
  width: 80%;
  height: 20%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.movie-list{
  width: 80%;
  height: 50%;
  overflow-y: scroll;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f5f5f5;
  table-layout: fixed;
  border-spacing: 0;
}

td, th {
  text-align: left;
  width: 210px;
}

td {
  padding: 14px 0px;
  border: 1px dashed #dddddd;
  border-right: none;
  border-left: none;
  border-top: none;
}

tbody tr{
  display: block;
  overflow: auto;
  width: 100%;
}

tbody tr:first-child {
  margin-top: 50px;
}

th{
  border-top: none;
  padding: 10px;
  border-left: none;
  padding-left: 60px;
  font-size: 20px;
  border-bottom: 1px solid #dddddd;

}

th:first-child {
  width: 600px;
}

th:nth-child(2){
  padding-left: 110px;
  width: 500px;
 
}

th:nth-child(3){
  padding-left: 100px;
  width: 500px;
}

thead tr{
  display: block;
  position: absolute;
  background-color: #f5f5f5;
  color: rgb(12, 143, 148);
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  z-index: 999999999999;
}

td:last-child {
  border: none;
  background-color: hsla(89, 43%, 51%, 0)
}

td:nth-child(3) {
  border-right: none;
}

td:first-child  a{
  color: rgb(10, 151, 161);
  font-weight: bold;
  text-decoration: underline;
}

td:first-child {
  border-left: none;
  width: 500px;
  padding-left: 60px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-all;
}

td:nth-child(2) {
  text-align: left;
  width: 500px;
  padding-left: 25px;
  color: #414141;
}

td:last-child {
  padding-left: 30px;
}

button {
  border: none;
  background-color: hsla(89, 43%, 51%, 0)
}

.options-button {
  color: red;
}

.options-button:hover, .options-icon:hover{
  cursor: pointer;
}

svg:hover, li:hover, ul:hover{
  cursor: default;
}

li {
  margin-left: -10px;
}

.nav-icon, .options-icon {
  position: relative;
  top: 3px;
}

.search-box{
  height: 5%;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.search input {
  width: 80%;
  padding: 10px 10px;
}