@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro:400,700&display=swap');

.confirmation, .warning{
    width: 80%;
    margin-top: -40px;
    margin-bottom: 20px;
}

.confirmation h2 {
    text-align: right;
    color: green;
    margin-bottom: 60px;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.confirmation-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(1,120,131,1);
}

.confirmation h5{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #414141;
    display: flex;
    flex-flow: row wrap;
}

.confirmation p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #414141;
}

.warning p{
    text-align: right;
    color: rgb(204, 0, 0);
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -20px;
    font-size: 18px;

}

.confirmation h5 span {
    margin-left: 20px;
}

.nav-icon {
    position: relative;
    top: 5px;
}

.warning p:first-child {
    padding-bottom: 15px;
}

.warning p:last-child {
    font-size: 15px;
}


